{% extends 'urls/base.html' %}
	{% load static %}
	{% block title %}Url Shortener{% endblock %}
	{% block head %}
		<link rel="stylesheet" href="{% static 'urls/css/signup.css' %}" >
		<link rel="stylesheet" href="{% static 'urls/css/dashboard.css' %}" >
	{% endblock %}
	{% block content %}
	
	<main>
		<section>
			<h1 class="intro-url"> Clicker Info</h1>
			<div class="table-div">
				<div class="row-div">
					<div class="item-div">
						Time Clicked
					</div>
					
					<div class="item-div time-format">
						{{clicker.time_clicked| escape}}
					</div>
				</div>
				
				<div class="row-div">
					<div class="item-div">
						Referer
					</div>
					
					<div class="item-div">
						{{clicker.referer| escape}}
					</div>
				</div>
				
				<div class="row-div ">
					<div class="item-div">
						User Agent
					</div>
					
					<div class="item-div">
						{{clicker.user_agent |escape}}
					</div>
				</div>
				
				<div class="row-div">
					<div class="item-div">
						Clicker IP Address
					</div>
					
					<div class="item-div">
						{{clicker.ip_address| escape}}
					</div>
				</div>
				
				<div class="row-div">
					<div class="item-div">
						Full URL
					</div>
					
					<div class="item-div">
						{{clicker.full_url| escape}}
					</div>
				</div>
				
				<div class="row-div">
					<div class="item-div">
						Shorten Url Created
					</div>
					
					<div class="item-div time-format">
						{{clicker.time_created_url| escape}}
					</div>
				</div>
				
			</div>
			
			
			
		</section>
	</main>
	<script>
		(function(){
			var time_elements = document.getElementsByClassName('time-format');
			for(var i=0;i<time_elements.length;i++){
				if(time_elements[i].innerText != "None")
					time_elements[i].innerText = ( new Date(time_elements[i].innerText)).toString();
			}
			
		})();
	</script>
	
	{% endblock %}
